section.lobby
  h1 ロビー
  p(style="font-size:1.6em;") ⚠ 荒らし行為は禁止です! 見つけ次第、一定期間発言禁止となります。⚠
  br
  p ログイン中のユーザー：
  ul#users
  form#lobbyform
    p
      input(type="text",size="40",name="comment",required)
      input(type="submit",value="発言")
  #logs.whole-page
  #lobby-app
