section.manual
  p: a(href="/manual") 戻る
  h1 月下人狼(Unofficial) について
  p
    | 遊び方などの情報については
    a(href="/manual") マニュアル
    | をご覧ください。
  p
    a(href="https://jinrou-doc.uhyohyo.net/",target="_blank") 公式ドキュメント
    | もあわせてご覧下さい。

  h2 公式Twitterアカウント
  p 月下人狼(Unofficial) の Twitter アカウントは<a href="https://twitter.com/h3zjp_jinro" target="_blank">@h3zjp_jinro</a>です。
  p 建った部屋の情報や更新情報をツイートします。

  h2 開発者
  p 「月下人狼」の開発者はうひょ(<a href="https://twitter.com/uhyo_" target="_blank">@uhyo_</a>)です。

  h2 協力者
  p
    small (敬称略)
  dl
    dt
      | Sunev (
      a(href="https://github.com/Sunev",target="_blank") GitHub
      | )
    dd 50回以上の機能追加･バグ修正に協力頂いています。
    dt
      | 箱庭 (
      a(href="https://twitter.com/hakoniwawind",target="_blank") Twitter
      | )
    dd 50回以上のバグ報告を頂いています。

  h2 ソース
  p 月下人狼(Unofficial) のソースは公開されています。
  p
    a(href="https://github.com/h3zjp/jinro",target="_blank") h3zjp/jinro - GitHub

  h2 お知らせ･運用情報
  p サービスについてのお知らせや運用情報につきましては、下記よりご確認下さい。
  p
    a(href="https://h3z.jp/news",target="_blank") https://h3z.jp/news

  h2 お問い合わせ
  p 月下人狼(Unofficial) についてのお問い合わせは、下記Webフォームよりお願いいたします。
  p
    a(href="https://h3z.jp/contact",target="_blank") https://h3z.jp/contact
